<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Form to add new event</title>
</head>
<body>
    <h1>New event</h1>
<form  th:object="${event}" method="post" th:action="@{/events}">
    Name: <input type="text" th:field="*{name}" /><br />
    Description: <input type="text" th:field="*{description}" /><br />
    Date: <input type="date" th:field="*{date}" /><br />
    Capacity: <input type="text" th:field="*{capacity}" /><br />
    <h3>Location</h3>
    <input type="hidden" th:field="*{location.id}" />
    Name: <input type="text" th:field="*{location.name}" /><br/>
    City: <input type="text" th:field="*{location.city}" /><br/>
    Address: <input type="text" th:field="*{location.address}" /><br/>
    <input type="submit" value="Add" />
</form>
    <a th:href="@{/events}">Back to List</a>
</body>
</html>