<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Single event</title>
</head>
<body>
<h1 th:text="${event.name}"></h1>
<h2> List of participants</h2>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr th:each="participant: ${participants}">
    <td th:text="${participant.id}"></td>
    <td th:text="${participant.name}"></td>
    <td th:text="${participant.email}"></td>
    </tr>
</table>
<a href="/events">Back to events</a>
</body>
</html>